body {
  max-width: 1440px;
  height: auto;
}

.header {
  background-color: #00d1ff;
  display: flex;
  flex: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 14px 33px 21px 38px;
  height: 5rem;
}

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-box {
  text-align: center;
  font-weight: 400;
  max-width: 166px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-A {
  width: 166px;
  height: 41px;
}

.box-B {
  width: 103px;
  height: 41px;
}

.box-C {
  width: 94px;
  height: 41px;
}

.box-D {
  width: 10px;
  height: 41px;
}

.logo {
  display: flex;
}

.logo-image {
  margin-left: 137px;
  margin-top: 4.9rem;
  width: 163px;
  height: 151px;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.25);
}

.vertical-line {
  border-left: 10px solid #dbdbdb;
  width: 10px;
  height: 60px;
  left: 34rem;
  position: absolute;
}

.search-box {
  display: flex;
  flex: 4;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
  margin-left: 85px;
  width: 1321px;
  height: 87px;
  box-shadow: 0px 3px 4px rgba(116, 116, 116, 0.25);
  border-radius: 57px;
  background-color: #f5f5f5;
}

.search-width {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  height: 60px;
  border-right: 1px solid #dbdbdb;
}

.search-button {
  margin-left: 24px;
  margin-right: 100px;
}

.input-style {
  text-align: center;
  font-weight: 400;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-page {
  display: flex;
  padding: 8px 29px 128px 85px;
  margin-top: 48px;
}

.main-content {
  width: 100%;
  height: 70rem;
  background: #f5f5f5;
  padding: 34px 24px 33px 27px;
  margin-left: 60px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 298px;
  height: 621px;
  background: #f5f5f5;
  padding: 23px 66px 46px;
}

.side-menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.sub-option-box {
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 15px;
  width: 165px;
  margin-top: 0.3rem;
}

.sub-main-content {
  display: flex;
  height: 11rem;
  margin-top: 26px;
  margin-bottom: 26px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
}

.card {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.sub-description {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 1rem;
  text-align: center;
}

.sub-first-description {
  flex: 1;
  border-right: 1px solid #bcbcbc;
  flex-direction: row-reverse;
}

.sub-second-description {
  flex: 1;
}

.image-house {
  padding-left: 0.01rem;
  max-height: 186px;
  max-width: 423px;
}

.sub-title {
  display: block;
  text-align: center;
  justify-content: center;
  padding-top: 16px;
}

.box {
  height: 15px;
  width: 15px;
  margin-right: 18.5px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 48px auto;
  background-color: #8cffd6;
}

.footer-start-information {
  align-items: center;
  text-align: end;
  padding-top: 7.5rem;
  padding-right: 70px;
}

.footer-end-information {
  align-items: center;
  padding-top: 7.5rem;
  padding-left: 79px;
}

.icon-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #008e5b;
  border-left: 1px solid #008e5b;
  padding-left: 69px;
  padding-right: 69px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#salmon {
  background-color: #f95656;
  color: white;
}

#red-light {
  background-color: #ff7e7e;
}

#green {
  background-color: #86fc8b;
  color: black;
}

#green-light {
  background-color: #acf8aa;
}

#yellow {
  background-color: #ffce4f;
  color: black;
}

#yellow-light {
  background-color: #ecff78;
  color: black;
}

#gray {
  background-color: #595959;
  color: white;
}

#purple {
  padding-top: 8px;
  background-color: rgba(230, 97, 252, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pink {
  background-color: #ffadfc;
}

#blue-light {
  background-color: #c3f5f9;
}

#cFDEC57 {
  background-color: #fdec57;
}

#cFFE092 {
  background-color: #ffe092;
}

#c8E7FCA {
  background-color: #8e7fca;
}

#cFF6B00 {
  background-color: #ff6b00;
}

#c1DAF60 {
  background-color: #1daf60;
}

#c7BB8FF {
  background-color: #7bb8ff;
}

#c001C7E {
  background-color: #001c7e;
}

#cFFB801 {
  background-color: #ffb801;
}

#c7B4F0D {
  background-color: #7b4f0d;
}/*# sourceMappingURL=styles.css.map */